<h2>Registrar nuevo cliente</h2>

<form action="/clients" method="POST" class="mt-3">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" name="name" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Correo electrónico</label>
    <input type="email" class="form-control" name="email" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Dirección</label>
    <input type="text" class="form-control" name="address" required>
  </div>
  <button class="btn btn-success">Guardar Cliente</button>
</form>
